
# Created by https://www.gitignore.io/api/haskell
# Edit at https://www.gitignore.io/?templates=haskell

### Haskell ###
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
**.stack-work/
**dist-newstyle/
cabal.project.local
cabal.project.local~
.HTF/
**data.txt
**todo.txt
.ghc.environment.*
**settings.json

# End of https://www.gitignore.io/api/haskell